// $menu-icon-hover-color: #000;
// $menu-item-hover-bg-color: var(--ep-color-primary);
// $menu-item-hover-text-color: #000;
:root {
  --ep-menu-horizontal-height: 54px;
  --ep-menu-item-height: 54px;
  --ep-menu-base-level-padding: 13px;
  // --ep-menu-bg-color: var(--ep-color-primary);
  // --ep-menu-text-color: #fff;
  // --ep-menu-hover-text-color: #000;
  // --ep-menu-hover-bg-color: inherit;
  // --ep-menu-active-color: #000;
}
